@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}

body.modal-open {
  overflow: hidden;
}

.bottom__container {
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 18px;
    padding-right: 18px;
  }

  @include desktop {
    padding-left: 16px;
    padding-right: 16px;
  }
}
