@mixin font($fs: 12px, $fw: 400, $lh: 1.16) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin max-mobile {
  @media screen and (max-width: 479px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin max-tablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin max-desktop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
