$primary-text-color: #907e82;
$secondary-text-color: #ffffff;
$third-text-color: #d41443;
$fourth-text-color: #ffa5ba;
$fifth-text-color: #000000;

$btn-bg-dark-color: #d41342;
$btn-dark-hover-color: #c7133e;
$btn-bg-light-color: #ffffff;
$btn-light-hover-color: #ecebeb;

$bg-modal-color: #e17992;

$hero-primary-color: #ffb8ca;
$hero-secondary-color: #ffa5ba;

$bg-primary-color: #ffffff;
$bg-secondary-color: #fff5f6;

$primary-elements-bg-color: #ffb8ca;
$secondary-elements-bg-color: #f0d1a5;
$third-elements-bg-color: #c2e297;
$fourth-elements-bg-color: #fafafa;
$fifth-elements-bg-color: #ffffff;

$pseudo-element-color: #e1e1e1;

$slader-icon-color: #c7133e;
$slader-btn-color: #d9d9d9;
$slader-hover-color: #d31342;
$slader-bg-color: #fafafa;

$social-icon-color: #ffffff;
$social-icon-bg-color: #fea5bb;
$social-icon-hover-color: #d41443;

$transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
