.backdrop {
    opacity: 1;
    pointer-events: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    background-color: rgba(255, 165, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
   // transition: opacity $transition;

    @media screen and (max-width: 767px) {
        padding: 93px 15px 94px 15px;
    }


    &--hidden {
        opacity: 0;
        pointer-events: none;
    }

    &--hidden .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    max-height: 95vh;

    padding: 25px;
    background-color: var(--color-design-white);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;

    @media screen and(min-width:480px) {
        width: 90%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and(min-width:768px) {
        width: 80%;
    }

    @media screen and(min-width:1280px) {
        width: 50%;
    }
}

.modal__title.section-subtitle {
    position: relative;
    color: orange;
    font-size: 26px;
    padding-bottom: 160px;
    margin-bottom: 0;

    @media screen and(min-width:480px) {
        padding-bottom: 200px;
    }

    @media screen and(min-width:768px) {
        font-size: 36px;
        padding-bottom: 230px;
    }
}

.modal--ice-cream .modal__title::after {
    content: '';
    width: 150px;
    height: 150px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-image: url('/src/images/ice-cream_products/home-pic1-mob1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/ice-cream_products/home-pic1-mob2x.png');
    }

    @media screen and(min-width:480px) {
        background-image: url('/src/images/ice-cream_products/home-pic1-mob1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-mob2x.png');
        }
    }

    @media screen and(min-width:768px) {
        width: 220px;
        height: 226px;
        transform: translate(-50%, -50%);
        background-image: url('/src/images/ice-cream_products/home-pic1-tab1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-tab2x.png');
        }
    }

    @media screen and(min-width:1280px) {
        width: 220px;
        height: 220px;
        background-image: url('/src/images/ice-cream_products/home-pic1-desktop1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-desktop2x.png');
        }
    }
}

.modal--ice-coffee .modal__title::after {
    content: '';
    width: 150px;
    height: 150px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-image: url('/src/images/ice-cream_products/home-pic1-mob1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/ice-cream_products/home-pic1-mob2x.png');
    }

    @media screen and(min-width:480px) {
        background-image: url('/src/images/ice-cream_products/home-pic3-tab-1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic3-tab2x.png');
        }
    }

    @media screen and(min-width:768px) {
        width: 220px;
        height: 226px;
        transform: translate(-50%, -50%);
        background-image: url('/src/images/ice-cream_products/home-pic3-tab-1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic3-tab2x.png');
        }
    }

    @media screen and(min-width:1280px) {
        width: 220px;
        height: 220px;
        transform: translate(-50%, -50%);
        background-image: url('/src/images/ice-cream_products/home-pic3-desktop1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic3-desktop2x.png');
        }
    }
}

.modal--milkshakes .modal__title::after {
    content: '';
    width: 150px;
    height: 150px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    background-image: url('/src/images/ice-cream_products/home-pic3-mob1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/ice-cream_products/home-pic3-mob2x.png');
    }

    @media screen and(min-width:480px) {
        background-image: url('/src/images/ice-cream_products/home-pic3-mob1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic3-mob2x.png');
        }
    }

    @media screen and(min-width:768px) {
        width: 220px;
        height: 226px;
        transform: translate(-50%, -45%);
        background-image: url('/src/images/ice-cream_products/home-pic2-tab1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic2-tab2x.png');
        }
    }

    @media screen and(min-width:1280px) {
        width: 220px;
        height: 220px;
        transform: translate(-50%, -45%);
        background-image: url('/src/images/ice-cream_products/home-pic2-desktop1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic2-desktop2x.png');
        }
    }
}

.modal__text {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: green;

    @media screen and(min-width:480px) {
        margin-bottom: 50px;
        font-size: 16px;
    }

    @media screen and(min-width:768px) {
        line-height: 1.79;
        margin-bottom: 20px;
    }

    @media screen and(min-width:1280px) {
        font-size: 18px;
        line-height: 1.75;
        margin-bottom: 10px;
    }
}

// .modal__order-link {
//     width: 80px;
//     height: 40px;
//     margin: 0 auto;
//     padding: 10px;
//     border-radius: 20px;
//     font-size: 16px;
// }