.franchise-backdrop {
  z-index: 200;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-secondary-color;
  transition: opacity $transition, visibility $transition;

  @include mobile {
    background-color: rgb(255, 245, 246, 0.7);
  }
}

.franchise-backdrop.is-hidden .franchise-modal {
  @media screen and (min-width: 480px) {
    transform: translate(-50%, -50%) scale(0) rotate(360deg);
  }
}

.franchise-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  background-color: $bg-modal-color;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include mobile {
    width: 435px;
    height: 500px;
    padding: 14px 40px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 500ms $transition;
  }

  @include tablet {
    width: 500px;
    height: 515px;
    padding: 60px 30px 10px 30px;
  }

  @include desktop {
    width: 550px;
    min-height: 670px;
    padding: 76px 30px 10px 30px;
  }
}

.franchise-modal__logo {
  display: none;

  @include tablet {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 175px;
  }

  @include desktop {
    top: 16px;
  }
}

.franchise-modal__img {
  max-width: 85%;

  @include desktop {
    max-width: 100%;
  }
}

.franchise-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-modal-color;
  color: $secondary-text-color;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 0px;

  @include mobile {
    padding: 6px;
  }

  @include tablet {
    width: 40px;
    height: 35px;
  }

  @include desktop {
    width: 50px;
    height: 50px;
  }
}

.franchise-modal__icon-close {
  fill: currentColor;
  transition: fill $transition;
  width: 100%;
  height: 100%;

  .franchise-modal__btn-close:hover &,
  .franchise-modal__btn-close:focus & {
    fill: $btn-dark-hover-color;
    cursor: pointer;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.franchise-modal__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $third-text-color;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;

  @include tablet {
    font-size: 24px;
    color: $secondary-text-color;
    margin-bottom: 8px;
  }

  @include desktop {
    font-size: 25px;
  }
}

.franchise-modal__text {
  display: none;

  @include desktop {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.23;
    margin-bottom: 13px;
    text-align: center;
    color: $third-text-color;
  }
}

.franchise-form__field {
  margin-bottom: 8px;

  &:nth-child(4) {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
  }

  @include desktop {
    margin-bottom: 13px;
  }
}

.franchise-form__title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  margin-bottom: 4px;

  @include tablet {
    font-size: 14px;
    margin-bottom: 2px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.franchise-form__wrap {
  position: relative;
}

.franchise-form__input {
  height: 40px;
  padding: 12px 12px 12px 42px;
  width: 100%;
  font-size: 14px;
  border: 2px solid $bg-primary-color;
  border-radius: 4px;
  color: $third-text-color;
  transition: border $transition;
  outline: none;

  &:last-child {
    padding: 12px 12px 12px 12px;
  }

  &:hover,
  &:focus {
    border-color: $btn-dark-hover-color;
  }

  @include tablet {
    height: 38px;
    padding: 9px 9px 9px 42px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.franchise-form__icon {
  fill: $third-text-color;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.franchise-form__textarea {
  font-size: 14px;
  color: $third-text-color;
  resize: none;
  padding: 10px 10px;
  width: 100%;
  height: 70px;
  border: 2px solid $bg-primary-color;
  border-radius: 4px;
  transition: border $transition;
  outline: none;

  &:hover,
  &:focus {
    border-color: $btn-dark-hover-color;
  }

  @include tablet {
    height: 46px;
    padding: 6px 6px;
  }

  @include desktop {
    font-size: 16px;
    height: 68px;
    padding: 8px 12px;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(252, 157, 188, 0.93);
  }
}

.franchise-checkbox {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @include desktop {
    font-size: 16px;
  }
}

.franchise-checkbox__label {
  display: flex;
  align-items: center;
  width: 100%;
  color: $secondary-text-color;
}

.franchise-checkbox__agreement {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid $btn-dark-hover-color;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color $transition, border-color $transition;
}

.franchise-checkbox__icon {
  fill: transparent;
  transition: fill $transition;
}

.franchise-checkbox__input:checked
  + .franchise-checkbox__label
  .franchise-checkbox__agreement {
  background-color: $btn-dark-hover-color;
  border: none;
}
.franchise-checkbox__input:hover
  + .franchise-checkbox__label
  .franchise-checkbox__agreement,
.franchise-checkbox__input:focus
  + .franchise-checkbox__label
  .franchise-checkbox__agreement {
  border-color: $btn-bg-light-color;
}

.franchise-checkbox__input:checked
  + .franchise-checkbox__label
  .franchise-checkbox__icon {
  fill: $secondary-text-color;
}

.franchise-checkbox__link {
  color: $btn-dark-hover-color;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $secondary-text-color;
  }
}

.franchise-form__checkbox {
  margin-bottom: 9px;

  @include desktop {
    margin-bottom: 12px;
  }
}

.franchise-form__btn {
  display: block;
  width: 200px;
  padding: 10px 0px;
  display: block;
  justify-content: center;
  margin: 0 auto;
}

.franchise-modal__btn {
  display: block;
  padding: 11px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  cursor: pointer;
  min-width: 162px;
  margin-left: auto;
  margin-right: auto;
  color: $third-text-color;
  background-color: $btn-bg-light-color;
  border: 1px solid $btn-bg-light-color;
  border-radius: 22px;
  transition: background-color $transition, border-color $transition;

  &:hover,
  &:focus {
    border-color: $btn-light-hover-color;
    background-color: $btn-light-hover-color;
  }
}
