.location-backdrop {
  z-index: 200;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-secondary-color;
  transition: opacity $transition, visibility $transition;

  @include mobile {
    background-color: rgb(255, 245, 246, 0.7);
  }
}

.location-backdrop.is-hidden .location-modal {
  @media screen and (min-width: 480px) {
    transform: translate(-50%, -50%) scale(0) rotate(360deg);
  }
}

.location-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 485px;
  background-color: $bg-modal-color;
  border-radius: 4px;
  padding: 44px 20px 10px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include mobile {
    width: 435px;
    height: 500px;
    padding: 52px 30px 20px 30px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    text-align: center;
    transition: transform 500ms $transition;
  }

  @include tablet {
    width: 500px;
    min-height: 500px;
    padding: 61px 30px 12px 30px;
  }

  @include desktop {
    width: 600px;
    min-height: 657px;
    padding: 92px 30px 30px;
  }
}

.location-modal__logo {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;

  @include mobile {
    left: 33px;
  }

  @include tablet {
    top: 17px;
    left: 32px;
  }

  @include desktop {
    top: 20px;
    left: 34px;
  }
}

.location-modal__img {
  max-width: 57%;

  @include mobile {
    max-width: 65%;
  }

  @include tablet {
    max-width: 75%;
  }

  @include desktop {
    max-width: 100%;
  }
}

.location-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-modal-color;
  color: $secondary-text-color;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 0px;

  @include mobile {
    width: 30px;
    height: 30px;
    padding: 6px;
  }

  @include tablet {
    width: 40px;
    height: 35px;
  }

  @include desktop {
    width: 50px;
    height: 50px;
  }
}

.location-modal__icon-close {
  fill: currentColor;
  transition: fill $transition;
  width: 100%;
  height: 100%;

  .location-modal__btn-close:hover &,
  .location-modal__btn-close:focus & {
    fill: $btn-dark-hover-color;
    cursor: pointer;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.location-modal__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 13px;
    font-size: 21px;
  }

  @include tablet {
    font-size: 25px;
    color: $secondary-text-color;
    margin-bottom: 8px;
  }

  @include desktop {
    margin-bottom: 17px;
    font-size: 33px;
  }
}

.location-modal__text {
  display: block;
  font-size: 12px;
  color: $third-text-color;
  text-align: center;
  margin-bottom: 12px;

  @include tablet {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.23;
    margin-bottom: 13px;
    text-align: center;
    color: $third-text-color;
  }

  @include desktop {
    font-size: 16px;
  }
}

.location-modal__list {
  @include mobile {
    display: inline-block;
  }
}

.location-modal__item-los-angeles {
  padding-bottom: 9px;
  border-bottom: 1px solid $pseudo-element-color;
}

.location-modal__address {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: $secondary-text-color;
  margin-bottom: 3px;

  @include desktop {
    margin-bottom: 7px;
    font-size: 16px;
  }
}

.location-modal__tel {
  display: block;
  font-size: 12px;
  color: $third-text-color;
  cursor: pointer;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $fifth-text-color;
  }

  @include desktop {
    font-size: 16px;
  }
}

.location-modal__item-chicago {
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid $pseudo-element-color;
}

.location-modal__item-new-york {
  padding-top: 9px;
}

.location-map {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 279px;
  left: 4px;

  @include mobile {
    width: 376px;
    left: 29px;
  }

  @include tablet {
    width: 443px;
    left: 28px;
  }

  @include desktop {
    width: 541px;
    height: 243px;
    top: 383px;
    left: 29px;
  }
}
