.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding-bottom: 23px;
    color: #fff;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    &:hover,
    &:focus {
    
            color: $third-text-color;
        }

}



.mobile-menu .link--active {
    color: $third-text-color;
}



.button-mobile-menu .button-mobile-menu-text {
    padding-right: 16px;
}


.button-mobile-menu {
    width: 209px;
    display: flex;
    border-radius: 22px;
    justify-content: center;
    padding: 15px 0 15px 0;
    margin-top: 58px;
    margin-bottom: 33px;
    
    margin-right: auto;
    margin-left: auto;
   

    @include tablet {
        width: 186px;
    }

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;

    align-items: center;
    text-align: center;
    border: none;
    outline: none;

    background-color: #fff;
    cursor: pointer;
    color: $third-text-color;

    &:hover,
    &:focus {
        background-color: $btn-light-hover-color;
    }
}