.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding-bottom: 23px;
    color: #fff;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

}



.mobile-menu .link--active {
    color: $third-text-color;
}

.button-mobile-menu-text {
    padding-right: 20px;
}



.button-mobile-menu {
    width: 209px;
    display: flex;
    border-radius: 22px;
    padding: 15px 62px 15px 43px;
    margin-top: 58px;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;

    align-items: center;
    text-align: center;

    background-color: #fff;
    cursor: pointer;

    color: $third-text-color;
}