.backdrop {
    opacity: 1;
    pointer-events: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    z-index: 999;
    
    background-color: rgba(0, 0, 0, 0.2);
    
    transition: opacity .35s cubic-bezier(.4, 0, .2, 1);

    @media screen and (max-width: 767px) {
        padding: 93px 15px 94px 15px;
    }


    &.is--hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.is--hidden .pr-modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.pr-modal {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    //height:100%;

    padding: 25px;
    background-color: $bg-primary-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;

    @include mobile {
        max-width: 350px;
        max-height: 450px;
        width: 100%;
        height: 100%;
        //padding-top: 65px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @include tablet{
        max-width: 440px;
        width: 100%;
        padding-bottom: 50px;
        //padding-top: 90px;
    }

    @include desktop {
        
        max-height: 550px;
        width: 100%;
        height: 100%;
        //padding-top: 80px;
        
    }

    &.pr-modal--ice-cream{
        background-color: $primary-elements-bg-color;
    }

    &.pr-modal--ice-coffee {
        background-color: $secondary-elements-bg-color;
    }

    &.pr-modal--milkshakes {
        background-color: $third-elements-bg-color;
    }
}

.pr-modal__title {
    position: relative;
    padding-bottom: 180px;
    margin-bottom: 0;
    text-align: center;

    font-family: 'Titan One';
    @include font(26px, 400, 1.15);
    
    
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondary-text-color;

    @include mobile {
        padding-bottom: 210px;
    }

    @include tablet{
        font-size: 32px;
        padding-bottom: 270px;
    }

    @include desktop {
        
        padding-bottom: 280px;
    }
}

.pr-modal--ice-cream .pr-modal__title::after {
    content: '';
    width: 150px;
    height: 150px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-image: url('/src/images/ice-cream_products/home-pic2-mob1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/ice-cream_products/home-pic2-mob2x.png');
    }

        @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url(/src/images/ice-cream_products/home-pic2-mob3x.png);
        }

        @include mobile {
        background-image: url('/src/images/ice-cream_products/home-pic2-mob1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic2-mob2x.png');
        }

        @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic2-mob3x.png');
        }
    }

        @include tablet{
        width: 220px;
        height: 226px;
        transform: translate(-50%, -50%);
        background-image: url('/src/images/ice-cream_products/home-pic1-tab1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-tab2x.png');
        }

        @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-tab3x.png');
        }

        
    }

        @include desktop {
        width: 220px;
        height: 220px;
        background-image: url('/src/images/ice-cream_products/home-pic1-desktop1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-desktop2x.png');
        }

        @media screen and (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-tab3x.png');
        }
    }
}

.pr-modal--milkshakes .pr-modal__title::after {
    content: '';
    width: 150px;
    height: 150px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-image: url('/src/images/ice-cream_products/home-pic1-mob1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/ice-cream_products/home-pic1-mob2x.png');
    }

    @include mobile {
        background-image: url('/src/images/ice-cream_products/home-pic1-mob1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic1-mob2x.png');
        }
    }

        @include tablet {
        width: 220px;
        height: 226px;
        transform: translate(-50%, -50%);
        background-image: url('/src/images/ice-cream_products/home-pic3-tab-1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic3-tab2x.png');
        }
    }

        @include desktop{
        width: 220px;
        height: 220px;
        transform: translate(-50%, -50%);
        background-image: url('/src/images/ice-cream_products/home-pic3-desktop1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic3-desktop2x.png');
        }
    }
}

.pr-modal--ice-coffee .pr-modal__title::after {
    content: '';
    width: 150px;
    height: 150px;

    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    background-image: url('/src/images/ice-cream_products/home-pic3-mob1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url('/src/images/ice-cream_products/home-pic3-mob2x.png');
    }

        @include mobile {
        background-image: url('/src/images/ice-cream_products/home-pic3-mob1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic3-mob2x.png');
        }
    }

        @include tablet {
        width: 220px;
        height: 226px;
        transform: translate(-50%, -45%);
        background-image: url('/src/images/ice-cream_products/home-pic2-tab1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic2-tab2x.png');
        }
    }

        @include desktop{
        width: 220px;
        height: 220px;
        transform: translate(-50%, -45%);
        background-image: url('/src/images/ice-cream_products/home-pic2-desktop1x.png');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('/src/images/ice-cream_products/home-pic2-desktop2x.png');
        }
    }
}

.pr-modal__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-bottom: 5px;

    width: 30px;
    height: 30px;
    padding: 1px 6px;
    border-color: transparent;
    border-radius: 50%;
    
   background-color: $social-icon-color;
    transition: background-color $transition;
    

    &:hover,
    &:focus {
        background-color: $social-icon-hover-color;
       // transition-delay: 250ms;
    }
}

.pr-modal__btn-icon {
    
    fill: $social-icon-hover-color;
    transition: fill $transition;

    .pr-modal__btn:hover &,
    .pr-modal__btn:focus & {
        fill: $social-icon-color;
    }
}

.pr-modal__text {
    
    @include font(14px, 700, 1.5);
    
    text-align: center;
    letter-spacing: 0.04em;
    color: $secondary-text-color;

    @include mobile {
        
        font-size: 14px;
    }

        @include tablet {
        line-height: 1.79;
        
    }

        @include desktop {
        font-size: 16px;
        line-height: 1.75;
        
    }
}

