<section class="about">
  <div class="container">
    <h2 class="about__title--secondary">TRADITION AND LOVE</h2>
    <h1 class="about__title">HOW IT'S MADE?</h1>
    <img class="about__cow" src="./images/ice-cream_about/home-pic4-mob1x.png" alt="cow">
    <img class="about__fone" src="./images/ice-cream_about/sectionbg11-mob1x.png" alt="milk">
    
          <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
            eget, egestas eros.
            Maecenas eleifend erat at justo fringilla</p>

          <p class="about__text--secondary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
            rhoncus
            orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>

          <p class="about__text--secondary part">Aliquam erat volutpat. Aenean accumsan.</p>

    
    
    <button class="about__btn">Read more
      
    </button>
  </div>
</section>