<section class="about" id="how-its-made">
  <div class="container">
    
    <p class="about__title--secondary">TRADITION AND LOVE</p>
    <h2 class="about__title">HOW IT'S MADE?</h2>
    <div class="about__box">
      <div class="about__imges ">
        <picture>
          <source srcset="/src/images/ice-cream_about/home-pic4-desktop1x.png 1x,
          /src/images/ice-cream_about/home-pic4-desktop2x.png 2x,
          /src/images/ice-cream_about/home-pic4-desktop3x.png 3x" media="(min-width:1200px)">
 
          <source
          srcset="/src/images/ice-cream_about/home-pic41-tab1x.png 1x,
          /src/images/ice-cream_about/home-pic41-tab2x.png 2x,
          /src/images/ice-cream_about/home-pic41-tab3x.png 3x"
           media="(min-width:768px)">

          <source srcset="/src/images/ice-cream_about/home-pic4-mob1x.png 1x,
          /src/images/ice-cream_about/home-pic4-mob2x.png 2x,
          /src/images/ice-cream_about/home-pic41-mob3x.png 3x" media="(min-width:320px)">

          <img class="about__cow" 
          src="/src/images/ice-cream_about/home-pic4-desktop1x.png"
          alt="cow">
        </picture>
        
        
        
      </div>
      <div class="about__content">
        <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
          eget, egestas eros.
          Maecenas eleifend erat at justo fringilla</p>
        <p class="about__text--secondary">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
          rhoncus
          orci in imperdiet placerat.
          Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p class="about__text--secondary part">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__btn" >Read more
          <svg width="10" height="10">
            <use href="/src/images/symbol-defs.svg#Vector-1"></use>
          </svg>
        </button>
      </div>
    </div>  
    <picture>
      <source srcset="/src/images/ice-cream_about/sectionbg11-desktop1x.png 1x,
              /src/images/ice-cream_about/sectionbg11-desktop2x.png 2x,
              /src/images/ice-cream_about/sectionbg11-desktop3x.png 3x" media="(min-width:1200px)">
    
    
      <source srcset="/src/images/ice-cream_about/sectionbg11-mob1x.png 1x,
              /src/images/ice-cream_about/sectionbg11-mob2x.png 2x,
              /src/images/ice-cream_about/sectionbg11-mob3x.png 3x" media="(min-width:320px)">
      <img class="about__fone" src="/src/images/ice-cream_about/sectionbg11-desktop1x.png" alt="milk">
    </picture>
          

    <div class="about__modal is-hidden" >
      <h3 class="about__heading">HOW WE MAKE OUR ICECREAM</h3>
      <p class="about__text--modal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima,
         cumque corrupti in nam vel quod tempora! Quae id numquam eaque voluptatibus in qui sequi maiores repellendus quibusdam, 
         fugit iusto ex ea aspernatur est nemo sunt impedit nihil reiciendis nam deserunt laboriosam. Modi illum velit temporibus itaque reprehenderit nemo ullam accusamus enim odit,
          necessitatibus cumque aut rem laboriosam aspernatur officia corrupti!
          </p>
      <button class="about__btn--close"  type="button">
         <svg width="20" height="20">
           <use href="/src/images/symbol-defs.svg#close"></use>
         </svg> 
                    
      </button>
      <img class="about__girl" src="/src/images/ice-cream_hero/girl-hero-tab1x.png" alt="">
    </div>
    
  </div>
  <script src="/src/js/about.js"></script>
</section>