<section class="advantage" id="advantages">
    <div class="container">
        <h2 class="section-title visually-hidden">Advantages</h2>

        <ul class="advantage__list">
            <li class="advantage__item">
                <p class="advantage__figure advantage__figure--first animate__animated animate__heartBeat">721</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>
            <li class="advantage__item">
                <p class="advantage__figure advantage__figure--second">16kg</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>
            <li class="advantage__item">
                <p class="advantage__figure advantage__figure--third">84</p>
                <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
