<div class="buy-backdrop is-hidden" buy-modal>
  <div class="buy-modal">
    <button class="buy-btn" buy-mobile-close></button>
    <button class="buy-modal__btn-close" buy-modal-close>
      <svg class="buy-modal__icon-close" width="20" height="20">
        <use href="/src/images/symbol-defs.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h3 class="buy-modal__title">Buy the best icecream</h3>
    <p class="buy-modal__text">please, fill out</p>
    <form action="">
      <div class="buy-form__field">
        <label class="buy-form__title" for="name">Name</label>
        <div class="buy-form__wrap">
          <input class="buy-form__input" type="text" id="name" name="name" /><svg class="buy-form__icon" width="18"
            height="18">
            <use href="/src/images/symbol-defs.svg#form-person"></use>
          </svg>
        </div>
      </div>
      <div class="buy-form__field">
        <label class="buy-form__title" for="phone">Phone</label>
        <div class="buy-form__wrap">
          <input class="buy-form__input" type="tel" id="phone" name="phone" /><svg class="buy-form__icon"
            width="18" height="18">
            <use href="/src/images/symbol-defs.svg#icon-modal-tel"></use>
          </svg>
        </div>
      </div>
      
      <div class="buy-form__field">
        <label class="buy-form__title" for="email">Email</label>
        <div class="buy-form__wrap">
          <input class="buy-form__input" type="email" id="email" name="email" /><svg class="buy-form__icon" width="18"
            height="18">
            <use href="/src/images/symbol-defs.svg#icon-modal-email"></use>
          </svg>
        </div>
      </div>

    </form>
    <button class="buy-modal__btn" type="button">Buy</button>
    <p class="buy-modal__text">Our manager will contact you.</p>

  </div>
</div>

