<section class="contacts" id="contacts">
  <div class="bottom__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <strong class="contacts__category">Cafe</strong>
        <address class="contacts__address">
          <b class="contacts__location">Chicago</b>
          <p class="contacts__subscribe">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <b class="contacts__day">Monday - Friday</b>
          <p class="contacts__time extra-time">06:00 AM - 10:00 PM</p>
          <b class="contacts__day">Saturday - Sunday</b>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
          <a href="tel:+61(0)383766284" class="contacts__tel link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__email link"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts__item">
        <strong class="contacts__category foodtruck">Food truck</strong>
        <address class="contacts__address">
          <b class="contacts__location">Los Angeles</b>
          <p class="contacts__subscribe">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <b class="contacts__day">Monday - Friday</b>
          <p class="contacts__time extra-time">06:00 AM - 10:00 PM</p>
          <b class="contacts__day">Saturday - Sunday</b>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
          <a href="tel:+61(0)383766284" class="contacts__tel link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__email link"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts__item">
        <strong class="contacts__category">Cafe</strong>
        <address class="contacts__address">
          <b class="contacts__location">New York</b>
          <p class="contacts__subscribe">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <b class="contacts__day">Monday - Friday</b>
          <p class="contacts__time extra-time">06:00 AM - 10:00 PM</p>
          <b class="contacts__day">Saturday - Sunday</b>
          <p class="contacts__time time">08:00 AM - 16:00 PM</p>
          <a href="tel:+61(0)383766284" class="contacts__tel link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__email link"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>

    <a
      href="https://www.google.com/maps/d/u/0/edit?mid=1Kc0BxM8IETiQ6e6f0cPEMhuU0CfsHKk&ll=29.37775154977391%2C-120.55745590508036&z=4"
      target="_blank"
      class="contacts__link-location link"
      >Our Locations &#62;</a
    >
    <button type="button" class="button__franchise button" data-modal-open>
      Franchise &#62;
    </button>
  </div>
</section>
