<section
  class="customer"
  id="about"
>
  <div class="container container__customer">
    <div class="customer__list list">
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/1Natliya H.jpg"
            alt="box 1"
            width="85"
          />
        </div>
        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />

          <p class="customer__p">
            Hello. In this project I created contacts section, modal to a map
            with the location of our shops and a modal to request a franchise.
            Section and modals were responsive and adaptive for mobile, tablet
            and desktop. Thanks team and team leader for such productive and
            coordinated work and wonderful experience.
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Natalia, Lviv</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/2Elvira2.jpg"
            alt="box 1"
            width="85"
          />
        </div>
        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />
          <p class="customer__p">
            Hi, I’m Elle. That has been the quickest week in my life last days.
            I had to perform the products section with pop ups and I believe
            I’ve done that great. I’ve meet amazing and inspired people during
            this time and I hope we’ll gathering together for one more project
            another day.
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Elvira, Dnipro</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/3Dmitriy.jpg"
            alt="box 1"
            width="85"
          />
        </div>
        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />
          <p class="customer__p">
            Hello friends. Few words about myself. I really like working in a
            team and solving complex, creative and interesting problems, I
            really like getting new knowledge and using it to solve interesting
            problems. Thanks to the GoIt team for the opportunity and to
            everyone who took part in the creation of this site
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Dmitriy, Kyiv</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/4Alexander.jpg"
            alt="box 1"
            width="85"
          />
        </div>
        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />
          <p class="customer__p">
            Hello! This is my first experience with a team. And that's exciting.
            In this project, I designed the "Abuot" section. Working in a team,
            I improved my skills in working with Git Hab and also expanded my
            knowledge in creating websites. Also, I want to say thank you to the
            whole team and the Go It company.
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Oleksandr, Dnipro</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/5Petro.jpg"
            alt="box 1"
            width="85"
          />
        </div>
        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />

          <p class="customer__p">
            Greatings, am Peter. I was performing Hero section and decorating it
            with some animations. Thanks to my teammates for such experience. I
            belive it's our first but not the last cooperation!
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Petro, Ivano-Frankivsk</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/6Olya.jpg"
            alt="box 1"
            width="85"
          />
        </div>

        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />
          <p class="customer__p">
            Hi, my name is Olya. I want to say a few words about my section in
            our project. I had to cut, design and group photos with ice cream.
            Lots of different photos with ice cream for mobile versions of the
            page for tablets and computers. I had a lot of fun with the project
            and our teamwork.
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Olya, Lviv</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/7Zemskov.jpg"
            alt="box 1"
            width="85"
          />
        </div>
        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />
          <p class="customer__p">
            Hello! I am Alex. For this site, I made a header and a side menu.
            Teamwork is a very cool and valuable experience. Thank you team.
            Thanks to GoIt for the opportunity!See you!
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>

        <h2 class="customer__h2 title">Alexander, Dnipro</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/8Kateryna.jpg"
            alt="box 1"
            width="85"
          />
        </div>

        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />
          <p class="customer__p">
            It is my first team project as a developer - my task itself wasn’t
            very difficult or unexpected: flex, pseudo elements, images and a
            little bit of animation. But as a scrum master I understood what a
            significant difference provide effective communication, motivation
            and self-organisation of all the teammates.
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Kateryna, Dnipro</h2>
      </div>
      <div class="customer__item">
        <div class="customer__img--psition">
          <img
            class="customer__img"
            src="/src/images/ice-cream_customer_reviews/9Kristina.jpg"
            alt="box 1"
            width="85"
          />
        </div>
        <div class="customer__reviewes">
          <img
            class="customer__dabl"
            src="/src/images/ice-cream_customer_reviews/dabl.png"
            alt="\201E"
            width="54"
          />
          <p class="customer__p">
            I’m a Team Lead of the project.
            And last 6 days and nights I spend by taking/looking/merging pool requests. Also, by finding and fixing a
            bucket of bugs.
            By my code was written project footer and favicon.
            It was hard, but very productive time. Sincerely thanks to my perfect team - You are the best!
            Love, peace and <span lang=“uk”>Слава Україні! </span>
          </p>
        </div>
        <div class="customer__bulet">
          <ul class="customer__bulet--item">
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
            <li class="customer__bulet--list"></li>
          </ul>
        </div>
        <h2 class="customer__h2 title">Kristina, Kyiv</h2>
      </div>
    </div>
  </div>
</section>