<section class="customer">
    <div class="container container__customer">
        <ul class="customer__list list">
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/1Natliya H.jpg"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >

                    <p class="customer__p "> Hello. In this project I created contacts section, modal to a map with the
                        location of our shops and a modal to request a franchise. Section and modals were responsive and
                        adaptive for mobile, tablet and desktop. Thanks team and team leader for such productive and
                        coordinated work and wonderful experience.</p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Natalia, Lviv</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/2Elvira.jpg"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p "> Hi, I’m Elle. That has been the quickest week in my life last days. I had
                        to perform the products section with pop ups and I believe I’ve done that great.
                        I’ve meet amazing and inspired people during this time and I hope we’ll gathering together for
                        one more project another
                        day.&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Elvira Dnipro</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/3Dmitriy.jpg"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p "> Hello friends. Few words about myself. I really like working in a team
                        and solving complex, creative and interesting problems, I really like getting new knowledge and
                        using it to solve interesting problems. Thanks to the GoIt team for the opportunity and to
                        everyone who took part in the creation of this site </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Dmitriy, Kyiv</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/4Alexander.jpg"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p ">Hello! This is my first experience with a team. And that's exciting. In this
                        project, I designed the "Abuot" section. Working in a team, I improved my skills in working with
                        Git Hab and also expanded my knowledge in creating websites.
                        Also, I want to say thank you to the whole team and the Go It company.</p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Oleksandr, Dnipro</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/testimonials11-desktop1x.png"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p ">Hello friends. Few words about myself. I really like working in a team
                        and solving complex, creative and interesting problems, I really like getting new knowledge and
                        using it to solve interesting problems. Thanks to the GoIt team for the opportunity and to
                        everyone who took part in the creation of this site </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Emily, Los Angeles</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/testimonials11-desktop1x.png"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p ">Hello friends. Few words about myself. I really like working in a team
                        and solving complex, creative and interesting problems, I really like getting new knowledge and
                        using it to solve interesting problems. Thanks to the GoIt team for the opportunity and to
                        everyone who took part in the creation of this site </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Emily, Los Angeles</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/testimonials11-desktop1x.png"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p ">Hello friends. Few words about myself. I really like working in a team
                        and solving complex, creative and interesting problems, I really like getting new knowledge and
                        using it to solve interesting problems. Thanks to the GoIt team for the opportunity and to
                        everyone who took part in the creation of this site </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Emily, Los Angeles</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/testimonials11-desktop1x.png"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p ">Hello friends. Few words about myself. I really like working in a team
                        and solving complex, creative and interesting problems, I really like getting new knowledge and
                        using it to solve interesting problems. Thanks to the GoIt team for the opportunity and to
                        everyone who took part in the creation of this site </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Emily, Los Angeles</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/testimonials11-desktop1x.png"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p ">Hello friends. Few words about myself. I really like working in a team
                        and solving complex, creative and interesting problems, I really like getting new knowledge and
                        using it to solve interesting problems. Thanks to the GoIt team for the opportunity and to
                        everyone who took part in the creation of this site </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Emily, Los Angeles</h2>
            </li>
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/testimonials11-desktop1x.png"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <p class="customer__p ">Hello friends. Few words about myself. I really like working in a team
                        and solving complex, creative and interesting problems, I really like getting new knowledge and
                        using it to solve interesting problems. Thanks to the GoIt team for the opportunity and to
                        everyone who took part in the creation of this site </p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Emily, Los Angeles</h2>
            </li>
        </ul>
    </div>
</section>