<section class="customer">
    <div class="container container__customer">
        <ul class="customer__list list">
            <li class="customer__item">
                <img
                    class="customer__img"
                    src="/src/images/ice-cream_customer_reviews/testimonials11-desktop1x.png"
                    alt="box 1"
                    width="85"
                />

                <div class="customer__reviewes">
                    <img
                        class="customer__dabl"
                        src="/src/images/ice-cream_customer_reviews/dabl.png"
                        alt="\201E"
                        width="54"
                    >
                    <!-- <div class="customer__gradient"> -->
                    <p class="customer__p "> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <div class="customer__bulet">
                    <ul class="customer__bulet--item">
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                        <li class="customer__bulet--list"></li>
                    </ul>
                </div>
                <h2 class="customer__h2 title">Emily, Los Angeles</h2>
            </li>
            
        </ul>
    </div>
</section>