<footer class="footer">
  <div class="container">
    <div class="footer-label">
      <p class="footer-label__text">homemade ice cream made</p>
      <b class="footer-label__accent">
        with <br />
        passion
      </b>
    </div>

    <div class="footer-contacts">
      <ul class="social-media-list">
        <li class="social-media-list__item">
          <a href="" class="social-media-list__link">
            <svg class="social-media-list__icon" width="19" height="19">
              <use href="/src/images/symbol-defs.svg#icon-github-footer"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-list__item">
          <a href="" class="social-media-list__link">
            <svg class="social-media-list__icon" width="19" height="15">
              <use
                href="/src/images/symbol-defs.svg#icon-telegram-footer"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-media-list__item">
          <a href="" class="social-media-list__link">
            <svg class="social-media-list__icon" width="9" height="19">
              <use
                href="/src/images/symbol-defs.svg#icon-facebook-footer"
              ></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer-contacts__text">
        Feel free to contact
        <a class="footer-contacts__tel" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <p class="rights-reserved">
    &#169; 2019 - IceCream. <br />
    All Rights Reserved.
  </p>
</footer>
