<section class="gallery" id="gallery"> 
 
    <div class="gallery-container ">
        <h2 class="gallery-title visually-hidden "> Gallery </h2>
<div class="photo-container" >
<picture class="gallery-picture">
    <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_onwood_desk_1x.png 1x,
                    /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_onwood_desk_2x.png 2x,
                    /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_onwood_desk_3x.png 3x"
                    media="(min-width: 1280px)">

 <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_onwood_tab_1x.png 1x,
                  /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_onwood_tab_2x.png 2x,
                  /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_onwood_tab_3x.png 3x"
                  media="(min-width: 768px)">

    <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_onwood_mob_1x.png 1x,
                  /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_onwood_mob_2x.png 2x,
                  /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_onwood_mob_3x.png 3x"
                  media="(min-width:320px)">

    <img class="gallery-img gallery-height" src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_onwood_mob_1x.png"
        alt="photo of green ice cream on a wooden plate" />
</picture>
</div>

<div class="photo-container" >
    <ul class="photo-list height-list" >
     <li class="photo-item" >
    <picture class="gallery-picture">
         <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_pink_waffle_desk_1x.png 1x,
                         /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_pink_waffle_desk_2x.png 2x,
                         /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_pink_waffle_desk_3x.png 3x"
                         media="(min-width: 1280px)">

            <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_pink_waffle_tab_1x.png 1x,
                            /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_pink_waffle_tab_2x.png 2x,
                            /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_pink_waffle_tab_3x.png 3x"
                             media="(min-width: 768px)">

        <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_waffle_mob_1x.png 1x,
                            /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_waffle_mob_2x.png 2x,
                            /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_waffle_mob_3x.png 3x"
                            media="(min-width:320px)">
    
        <img class="gallery-img" src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_waffle_mob_1x.png"
            alt="photo of pink ice cream" />
    </picture>
     </li>
     <li class="photo-item">
   <picture class="gallery-picture">
    <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_pink_raspberry_desk_1x.png 1x,
                    /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_pink_raspberry_desk_2x.png 2x,
                    /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_pink_raspberry_desk_3x.png 3x"
                    media="(min-width: 1280px)">

    <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_pink_raspberry_tab_1x.png 1x,
                    /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_pink_raspberry_tab_2x.png 2x,
                    /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_pink_raspberry_tab_3x.png 3x"
                     media="(min-width: 768px)">

    <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_raspberry_mob_1x.png 1x,
                   /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_raspberry_mob_2x.png 2x,
                   /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_raspberry_mob_3x.png 3x"
                  media="(min-width: 320px)">
        
            <img class="gallery-img"
                src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_pink_raspberry_mob_1x.png"
                alt="photo of ice cream with raspberries" />
        </picture>
     </li>
        </ul>
</div>

<div class="photo-container" >
    <ul class="photo-list" >
     <li class="photo-item" >
        <picture class="gallery-picture">
        <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_big_picture_desk_1x.png 1x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_big_picture_desk_2x.png 2x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_big_picture_desk_3x.png 3x"
                        media="(min-width: 1280px)">

        <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_big_picture_tab_1x.png 1x,
                        /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_big_picture_tab_2x.png 2x,
                        /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_big_picture_tab_3x.png 3x"
                        media="(min-width: 768px)">
            
        <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_big_picture_mob_1x.png 1x,
                       /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_big_picture_mob_2x.png 2x,
                       /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_big_picture_mob_3x.png 3x"
                       media="(min-width: 320px)">
        
            <img class="gallery-img" src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_big_picture_mob_1x.png"
                alt="photo of ice cream with berries" />
        </picture>
     </li>
     <li class="photo-item" >
        <picture class="gallery-picture">
        <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_girl_desk_1x.png 1x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_girl_desk_2x.png 2x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_girl_desk_3x.png 3x"
                        media="(min-width: 1280px)">

        <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_girl_tab_1x.png 1x,
                        /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_girl_tab_2x.png  2x,
                        /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_girl_tab_3x.png 3x"
                        media="(min-width: 768px)">

        <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_girl_mob_1x.png 1x,
                        /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_girl_mob_3x.png 2x,
                        /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_girl_mob_3x.png 3x"
                         media="(min-width: 320px)">
        
            <img class="gallery-img" src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_girl_mob_1x.png"
                alt="photo of ice cream with a woman" />
        </picture>
     </li>
    </ul>
</div>

<div class="photo-container" >
<ul class="photo-list height-list-img" >
    <li class="photo-item" >
        <picture class="gallery-picture">
        <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_glassplate_desk_1x.png 1x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_glassplate_desk_2x.png 2x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_glassplate_desk_3x.png 3x"
                        media="(min-width: 1280px)">

          <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_glassplate_tab_1x.png 1x,
                         /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_glassplate_tab_2x.png 2x,
                         /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_glassplate_tab_3x.png  3x"
                         media="(min-width: 768px)">

            <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_glassplate_mob_1x.png 1x,
                           /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_glassplate_mob_2x.png 2x,
                           /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_glassplate_mob_3x.png 3x"
                           media="(min-width: 320px)">

            <img class="gallery-img"
                src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_glassplate_mob_1x.png"
                alt="photo of ice cream with berries on a plate" />
        </picture>
    </li>
    <li class="photo-item" >
        <picture class="gallery-picture">
        <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_red_star_desk_1x.png 1x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_red_star_desk_2x.png 2x,
                        /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_red_star_desk_3x.png 3x"
                        media="(min-width: 1280px)">

       <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_red_star_tab_1x.png 1x,
                        /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_red_star_tab_2x.png 2x,
                        /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_red_star_tab_3x.png  3x"
                       media="(min-width: 768px)">

     <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_red_star_mob_1x.png 1x,
                     /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_red_star_mob_2x.png 2x,
                     /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_red_star_mob_3x.png 3x"
                    media="(min-width: 320px)">

            <img class="gallery-img"
                src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_red_star_mob_1x.png"
                alt="photo of red ice cream" />
        </picture>
    </li>
</ul>
</div>

<div class="photo-container" >
    <ul class="photo-list height-list-photo" >
        <li class="photo-item" >
            <picture class="gallery-picture">
            <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_dog_desk_1x.png 1x,
                            /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_dog_desk_2x.png 2x,
                            /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_dog_desk_3x.png 3x"
                            media="(min-width: 1280px)">

           <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_dog_tab_1x.png 1x,
                            /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_dog_tab_2x.png 2x,
                            /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_dog_tab_3x.png  3x"
                            media="(min-width: 768px)">

                <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_dog_mob_1x.png 1x,
                               /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_dog_mob_2x.png 2x,
                               /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_dog_mob_3x.png 3x"
                    media="(min-width:320px)">
    
                <img class="gallery-img"
                    src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_dog_mob_1x.png"
                    alt="photo of ice cream with a dog" />
            </picture>
        </li>
        <li class="photo-item" >
            <picture class="gallery-picture">
            <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_cocktail_desk_1x.png 1x,
                            /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_cocktail_desk_2x.png 2x,
                            /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_cocktail_desk_3x.png 3x"
                            media="(min-width: 1280px)">

            <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_cocktail_tab_1x.png 1x,
                            /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_cocktail_tab_2x.png 2x,
                            /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_cocktail_tab_3x.png 3x"
                            media="(min-width: 768px)">

            <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cocktail_mob_1x.png 1x,
                            /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cocktail_mob_2x.png 2x,
                            /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cocktail_mob_3x.png 3x"
                            media="(min-width:320px)">
    
                <img class="gallery-img"
                    src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cocktail_mob_1x.png"
                    alt="photo of cocktail with ice cream" />
            </picture>
        </li>
    </ul>
</div>

<div class="photo-container" >
          <picture class="gallery-picture">
          <source srcset="/src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_cakeonjar_desk_1x.png 1x,
                    /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_cakeonjar_desk_2x.png 2x,
                    /src/images/ice-cream_gallery/desk_optimized/home_pic5_icecream_cakeonjar_desk_3x.png 3x"
                    media="(min-width: 1280px)">

          <source srcset="/src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_cakeonjar_tab_1x.png 1x,
                    /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_cakeonjar_tab_2x.png 2x,
                    /src/images/ice-cream_gallery/tab_optimized/home_pic5_icecream_cakeonjar_tab_3x.png  3x"
                    media="(min-width: 768px)">

          <source srcset="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cakeonjar_mob_1x.png 1x,
                    /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cakeonjar_mob_2x.png 2x,
                    /src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cakeonjar_mob_3x.png 3x"
                    media="(min-width:320px)">
    
        <img class="gallery-img height-list-picture" src="/src/images/ice-cream_gallery/mob_optimized/home_pic5_icecream_cakeonjar_mob_1x.png"
            alt="photo of ice cream on a jar" />
    </picture>
</div>
</div>
</section>