<section class="gallery" id="gallery">
    <div class="container ">
        
    <h2 class="gallery-title visually-hidden "> Galiery </h2>
   <div class="gallery-container">
    <picture>
<source srcset="/src/images/ice-cream_gallery/home-pic51-desktop1x.png,
/src/images/ice-cream_gallery/home-pic51-desktop2x.png,
/src/images/ice-cream_gallery/home-pic51-desktop3x.png"

 media="(min-width: 1200px)"
>

<source srcset="/src/images/ice-cream_gallery/home-pic5-tab1x.png,
/src/images/ice-cream_gallery/home-pic5-tab2x.png,
/src/images/ice-cream_gallery/home-pic5-tab3x.png" media="(min-width: 768px)">

<source srcset="/src/images/ice-cream_gallery/home-pic5-mob1x.png,
/src/images/ice-cream_gallery/home-pic5-mob2x.png,
/src/images/ice-cream_gallery/home-pic5-mob3x.png"
 media="(min-width: 320px)"  >

<img class="gallery-img" src="/src/images/ice-cream_gallery/home-pic51-desktop1x.png" 
alt="photo of different types of ice cream" />
    </picture>
    </div>
    </div>
</section>