<section class="gallery" id="gallery">
    <div class="container ">
        
    <h2 class="gallery-title visually-hidden "> Gallery </h2>
   <div class="gallery-container">
    <picture>
<source srcset="/src/images/ice-cream_gallery/home-pic51-desktop1x.png 1x,
/src/images/ice-cream_gallery/home-pic51-desktop2x.png 2x,
/src/images/ice-cream_gallery/home-pic51-desktop3x.png 3x "

 media="(min-width: 1200px)"
>

<source srcset="/src/images/ice-cream_gallery/home-pic5-tab1x.png 1x,
/src/images/ice-cream_gallery/home-pic5-tab2x.png 2x,
/src/images/ice-cream_gallery/home-pic5-tab3x.png 3x" media="(min-width: 768px)">

<source srcset="/src/images/ice-cream_gallery/home-pic5-mob1x.png 1x,
/src/images/ice-cream_gallery/home-pic5-mob2x.png 2x,
/src/images/ice-cream_gallery/home-pic5-mob3x.png 3x"
  media="(min-width: 480px)" >

<img class="gallery-img" src="/src/images/ice-cream_gallery/home-pic51-desktop1x.png" 
alt="photo of different types of ice cream" />
    </picture>
    </div>
    </div>
</section>