<header class="page-header">
  <div class="container">
    <a class="header-logo" href="/src/index.html">
      <img src="/src/images/logo.svg" alt="logo" width="199" height="50" /></a>

    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1h20M0 7h20M0 13h20" stroke="#D41443" />
      </svg>
    </button>

    <!-- <svg width="24" height="24">
          <use class="icon-burger" href="./images/symbol-defs.svg#icon-burger">
          </use>
        </svg> -->


    <ul class="menu">
      <li><a href="" class="link link--active">Home</a></li>
      <li><a href="" class="link">About us</a></li>
      <li><a href="" class="link">How its made?</a></li>
      <li><a href="" class="link">Our products</a></li>
      <li><a href="" class="link">Contact</a></li>
    </ul>

    <button class="button-header">
      Buy now
      <svg class="icon-button-mobile" width="10" height="14" viewBox="0 0 26 32">
        <path fill="none" stroke="#d41443" style="stroke: var(--color1, #d41443)" stroke-linejoin="round"
          stroke-linecap="round" stroke-miterlimit="4" stroke-width="6.4" d="M5.172 3.2l14.169 12.8-14.169 12.8"></path>
      </svg>
    </button>

  </div>
</header>