<header class="page-header">
    <div class="container">

        <img class="header-logo" src="./images/logo.png" alt="logo" width="199" height="50">

        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg width="24" height="24" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill="#D41443"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>

        <ul class="menu">
            <li><a href="" class="link link--active">Home</a></li>
            <li><a href="" class="link">About us</a></li>
            <li><a href="" class="link">How its made?</a></li>
            <li><a href="" class="link">Our products</a></li>
            <li><a href="" class="link">Contact</a></li>
        </ul>
    </div>
</header>