<header class="page-header">
  <div id="header-container" class="container header-container">
    <a class="header-logo" href="/src/index.html">
      <img src="/src/images/logo.svg" alt="logo" width="199" height="50"
    /></a>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="24" height="24">
        <use
          class="icon-burger"
          href="/src/images/symbol-defs.svg#icon-burger-fix"
        ></use>
      </svg>
    </button>

    <ul class="menu">
      <li><a href="/src/index.html" class="link link--active">Home</a></li>
      <li><a href="#about" class="link">About us</a></li>
      <li><a href="#how-its-made" class="link">How its made?</a></li>
      <li><a href="#products-section" class="link">Our products</a></li>
      <li><a href="#contact" class="link">Contact</a></li>
    </ul>

    <button class="button-header" data-buy-modal-open>
      Buy now
      <svg
        class="icon-button-mobile"
        width="10"
        height="14"
        viewBox="0 0 26 32"
      >
        <path
          fill="none"
          stroke="#d41443"
          style="stroke: var(--color1, #d41443)"
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-miterlimit="4"
          stroke-width="6.4"
          d="M5.172 3.2l14.169 12.8-14.169 12.8"
        ></path>
      </svg>
    </button>
  </div>
</header>
