<section class="products" id="products-section">
  <div class="products__container container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <article class="products-card products-card--ice-cream">
          <div class="products-card__wraper products-card__wraper--ice-cream">
            <h3 class="products-card__title">ice cream</h3>
            <div class="products-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et. dolore magna aliqua
                facilisis.
              </p>
            </div>
            <button class="products-btn" type="button" data-icecream-modal-open>
              <svg class="products-btn__icon" width="10" height="10">
                <use href="/src/images/symbol-defs.svg#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="products-card products-card--ice-coffee">
          <div class="products-card__wraper products-card__wraper--ice-coffee">
            <h3 class="products-card__title">ice coffee</h3>
            <div class="products-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et. dolore magna aliqua
                facilisis.
              </p>
            </div>
            <button
              class="products-btn"
              type="button"
              data-icecoffee-modal-open
            >
              <svg class="products-btn__icon" width="10" height="10">
                <use href="/src/images/symbol-defs.svg#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="products-card products-card--milkshakes">
          <div class="products-card__wraper products-card__wraper--milkshakes">
            <h3 class="products-card__title">milkshakes</h3>
            <div class="products-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et. dolore magna aliqua
                facilisis.
              </p>
            </div>
            <button
              class="products-btn"
              type="button"
              data-milkshakes-modal-open
            >
              <svg class="products-btn__icon" width="10" height="10">
                <use href="/src/images/symbol-defs.svg#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
