<div class="backdrop is--hidden" data-icecream-modal>
  <div class="pr-modal pr-modal--ice-cream">
    <button class="pr-modal__btn" type="button" data-icecream-modal-close>
      <svg class="pr-modal__btn-icon" width="14" height="14">
        <use href="/src/images/symbol-defs.svg#icon-close_icon-1"></use>
      </svg>
    </button>
    <p class="pr-modal__title">I'm lovin it</p>
    <p class="pr-modal__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident
      tempore assumenda molestiae explicabo. Commodi temporibus optio.
    </p>
    <!-- <a class="pr-modal__link link-color" href="index.html">Want it!</a> -->
  </div>
</div>

<div class="backdrop is--hidden" data-icecoffee-modal>
  <div class="pr-modal pr-modal--ice-coffee">
    <button class="pr-modal__btn" type="button" data-icecoffee-modal-close>
      <svg class="pr-modal__btn-icon" width="14" height="14">
        <use href="/src/images/symbol-defs.svg#icon-close_icon-1"></use>
      </svg>
    </button>
    <p class="pr-modal__title">I'm lovin it</p>
    <p class="pr-modal__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident
      tempore assumenda molestiae explicabo. Commodi temporibus optio.
    </p>
    <!-- <a class="pr-modal__link link-color" href="index.html">Want it!</a> -->
  </div>
</div>

<div class="backdrop is--hidden" data-milkshakes-modal>
  <div class="pr-modal pr-modal--milkshakes">
    <button class="pr-modal__btn" type="button" data-milkshakes-modal-close>
      <svg class="pr-modal__btn-icon" width="14" height="14">
        <use href="/src/images/symbol-defs.svg#icon-close_icon-1"></use>
      </svg>
    </button>
    <p class="pr-modal__title section-subtitle">I'm lovin it</p>
    <p class="pr-modal__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident
      tempore assumenda molestiae explicabo. Commodi temporibus optio.
    </p>
  </div>
</div>
