.about {
  position: relative;
  z-index: -2;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-secondary-color;
}
.about__title--secondary {
  font-family: 'Titan One';
  margin-bottom: 15px;
  // font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: $hero-secondary-color;
}
.about__title {
  font-family: 'Titan One';
  margin-bottom: 32px;
  // font-style: normal;
  // font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  color: $third-text-color;
}
.about__cow {
  width: 100%;
}
.about__fone {
  position: absolute;
  bottom: 200px;
  left: 0;
  z-index: -1;
  width: 100vw;
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    bottom: 0;
  }
}

.about__text {
  // font-family: 'DM Sans';
  // padding-right: 80px;
  max-width: 220px;
  margin-top: 40px;
  // font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $fifth-text-color;
}
.about__text--secondary {
  // font-family: 'DM Sans';
  // font-style: normal;
  max-width: 220px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $primary-text-color;
  &.part {
    margin-top: 20px;
  }
}
.about__btn {
  font-family: 'DM Sans';
  // font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  width: 176px;
  height: 44px;
  margin-top: 20px;
  padding: 0;
  border: none;
  border-radius: 22px;
  color: $third-text-color;
  background-color: $btn-bg-light-color;
}
