.advantage {
  background-color: $bg-secondary-color;
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantage__container {
  @media screen and (min-width: 480px) {
    width: 480px;
    width: 100%;
  }
}

.advantage__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantage__item {
  position: relative;

  &:not(:first-child) {
    padding-top: 98px;
  }

  &:first-child {
    padding-top: 72px;
  }
}

.advantage__text {
  display: block;
  position: relative;
  width: 230px;

  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0;

  margin-bottom: 0px;
}

.advantage__figure {
  position: relative;
  display: block;
  padding-bottom: 15px;

  font-family: Titan One, sans-serif;
  text-transform: uppercase;
  font-size: 36px;

  line-height: 1.15;
  letter-spacing: 0.04;
  color: $third-text-color;
}

.advantage__figure--first::before {
  content: '';
  position: absolute;
  top: -72px;
  display: block;
  width: 33px;
  height: 50px;
  background-image: url('../images/ice-cream_advantages/icon-milk-mob.png');

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/ice-cream_advantages/icon-milk@2x-mob.png');
  }

  @media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3) {
    background-image: url('../images/ice-cream_advantages/icon-milk@3x-mob.png');
  }
}

.advantage__figure--second::before {
  content: '';
  position: absolute;
  top: -72px;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('../images/ice-cream_advantages/icon-fruit-mob.png');

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/ice-cream_advantages/icon-fruit@2x-mob.png');
  }

  @media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3) {
    background-image: url('../images/ice-cream_advantages/icon-fruit@3x-mob.png');
  }
}

.advantage__figure--third::before {
  content: '';
  position: absolute;
  top: -72px;
  display: block;
  width: 44px;
  height: 50px;
  background-image: url('../images/ice-cream_advantages/icon-icecream-mob.png');

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/ice-cream_advantages/icon-icecream@2x-mob.png');
  }

  @media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3) {
    background-image: url('../images/ice-cream_advantages/icon-icecream@3x-mob.png');
  }
}
