.advantage {
    background-color: $bg-secondary-color;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    @include desktop {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}


.advantage__list {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;

    @include tablet {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.advantage__item {
    position: relative;
    width: 230px;

    @media screen and (min-width: 320px) and (max-width: 767px) {

        &:not(:first-child) {
            padding-top: 98px;
        }

        &:first-child {
            padding-top: 72px;
        }
    }

    @include tablet {
        width: 184px;
        padding-top: 97px;

        &:not(:last-child) {
            margin-right: 13px;
        }
    }

    @include desktop {
        width: 288px;

        &:not(:last-child) {
            margin-right: 124px;
        }
    }
}

.advantage__text {
    display: block;
    position: relative;
    // width: 230px;

    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0;

    margin-bottom: 0px;
}

.advantage__figure {
    position: relative;
    display: block;
    padding-bottom: 15px;

    font-family: Titan One, sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $third-text-color;

    @include tablet {
        @include font(48px, null, 1.15);
        padding-bottom: 13px;
    }

    @include desktop {
        @include font(58px, null, 1.14);
        padding-bottom: 16px;
    }
}

.advantage__figure--first::before {
    content: "";
    position: absolute;
    bottom: 71px;
    display: block;
    width: 33px;
    height: 50px;
    background-image: url('../images/ice-cream_advantages/icon-milk-mob.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream_advantages/icon-milk@2x-mob.png");
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3) {
        background-image: url("../images/ice-cream_advantages/icon-milk@3x-mob.png");
    }

    @include tablet {
        bottom: 105px;
        background-image: url('../images/ice-cream_advantages/icon-milk-tab.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-milk@2x-tab.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-milk@3x-tab.png");
        }
    }

    @include desktop {
        bottom: 121px;
        background-image: url('../images/ice-cream_advantages/icon-milk-desk.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-milk-desk@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-milk-desk@3x.png");
        }
    }
}

.advantage__figure--second::before {
    content: "";
    position: absolute;
    bottom: 71px;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../images/ice-cream_advantages/icon-fruit-mob.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream_advantages/icon-fruit@2x-mob.png");
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3) {
        background-image: url("../images/ice-cream_advantages/icon-fruit@3x-mob.png");
    }

    @include tablet {
        bottom: 105px;
        background-image: url('../images/ice-cream_advantages/icon-fruit-tab.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-tab@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-tab@3x.png");
        }
    }

    @include desktop {
        bottom: 121px;
        background-image: url('../images/ice-cream_advantages/icon-fruit-desk.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-desk@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-desk@3x.png");
        }
    }
}

.advantage__figure--third::before {
    content: "";
    position: absolute;
    bottom: 71px;
    display: block;
    width: 44px;
    height: 50px;
    background-image: url('../images/ice-cream_advantages/icon-icecream-mob.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream_advantages/icon-icecream@2x-mob.png");
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3) {
        background-image: url("../images/ice-cream_advantages/icon-icecream@3x-mob.png");
    }

    @include tablet {
        bottom: 105px;
        background-image: url('../images/ice-cream_advantages/icon-icecream-tab.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-tab@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-tab@3x.png");
        }
    }

    @include desktop {
        bottom: 121px;
        background-image: url('../images/ice-cream_advantages/icon-icecream-desk.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-desk@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-desk@3x.png");
        }
    }

}


