.advantage {
    background-color: $bg-secondary-color;
    padding-top: 0px;
    padding-bottom: 40px;

    @include tablet {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include desktop {
        padding-top: 0px;
        padding-bottom: 60px;
    }
}

.advantage__list {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;

    @include tablet {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.advantage__item {
    position: relative;
    width: 230px;

    @media screen and (min-width: 320px) and (max-width: 767px) {

        &:not(:first-child) {
            padding-top: 98px;
        }

        &:first-child {
            padding-top: 72px;
        }
    }

    @include tablet {
        width: 184px;
        padding-top: 90px;

        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    @include desktop {
        width: 288px;

        &:not(:last-child) {
            margin-right: 124px;
        }
    }
}

.advantage__text {
    display: block;
    position: relative;

    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0;

    margin-bottom: 0px;
}

.advantage__figure {
  display: block;
  padding-bottom: 15px;

    font-family: Titan One, sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $third-text-color;
    

 animation-name: milk-figure;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-timing-function: cubic-bezier(.4, 0, .2, 1);

    @include tablet {
        @include font(48px, null, 1.15);
        padding-bottom: 13px;
    }

    @include desktop {
        @include font(58px, null, 1.14);
        padding-bottom: 16px;
    }   
}

.advantage__text::before {
    content: "";
    position: absolute;
    display: block;

    bottom: calc(100% + 77px);
    height: 50px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

   
    @include tablet {
        bottom: calc(100% + 105px); 
    }

    @include desktop {
        bottom: calc(100% + 122px);
    }
}

.advantage__text--first::before {
    background-image: url('../images/ice-cream_advantages/icon-milk-mob.png');
    width: 33px;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream_advantages/icon-milk@2x-mob.png");
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3) {
        background-image: url("../images/ice-cream_advantages/icon-milk@3x-mob.png");
    }

    @include tablet {
        background-image: url('../images/ice-cream_advantages/icon-milk-tab.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-milk@2x-tab.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-milk@3x-tab.png");
        }
    }

    @include desktop {
        background-image: url('../images/ice-cream_advantages/icon-milk-desk.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-milk-desk@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-milk-desk@3x.png");
        }
    }
}

.advantage__text--second::before {
    width: 50px;
    background-image: url('../images/ice-cream_advantages/icon-fruit-mob.png');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream_advantages/icon-fruit@2x-mob.png");
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3) {
        background-image: url("../images/ice-cream_advantages/icon-fruit@3x-mob.png");
    }

    @include tablet {
        background-image: url('../images/ice-cream_advantages/icon-fruit-tab.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-tab@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-tab@3x.png");
        }
    }

    @include desktop {
        background-image: url('../images/ice-cream_advantages/icon-fruit-desk.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-desk@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-fruit-desk@3x.png");
        }
    }
}

.advantage__text--third::before {
    width: 44px;
    background-image: url('../images/ice-cream_advantages/icon-icecream-mob.png');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/ice-cream_advantages/icon-icecream@2x-mob.png");
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3) {
        background-image: url("../images/ice-cream_advantages/icon-icecream@3x-mob.png");
    }

    @include tablet {
        background-image: url('../images/ice-cream_advantages/icon-icecream-tab.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-tab@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-tab@3x.png");
        }
    }

    @include desktop {
        background-image: url('../images/ice-cream_advantages/icon-icecream-desk.png');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-desk@2x.png");
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3) {
            background-image: url("../images/ice-cream_advantages/icon-icecream-desk@3x.png");
        }
    }
}


@keyframes milk-figure {
    0%{
        transform: scale(1.0);
        left:0;
    }

    50%{
        transform: scale(1.1);
        left:10px;
    }

    100% {
       transform: scale(1.0);
       left: 0;
    }
}

.btn-totop {
    position: fixed;
    bottom:10px;
    right: 10px;
    z-index: 20;

    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    background-color: $social-icon-bg-color;
    opacity: 50%;   

    transition: opacity $transition;
   
}

.btn-totop:hover,
.btn-totop:focus {
    opacity: 100%;
}

.btn-totop__icon {
   fill: $social-icon-color;
   transition: fill $transition;
}