.contacts {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-image: linear-gradient(
    $bg-primary-color 24%,
    $bg-secondary-color 24%
  );

  @include tablet {
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: linear-gradient(
      $bg-primary-color 24%,
      $bg-secondary-color 24%
    );
  }

  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: linear-gradient(
      $bg-primary-color 21%,
      $bg-secondary-color 21%
    );
  }
}

.contacts__list {
  margin-bottom: 32px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: start;

  @include tablet {
    display: flex;
  }

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.contacts__item {
  width: 100%;
  padding: 40px 32px;
  border: 1px solid $pseudo-element-color;
  background: $fifth-elements-bg-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 320px) {
    width: 280px;
  }

  @include tablet {
    width: calc((100% - 2 * 32px) / 3);

    & + & {
      margin-left: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @include desktop {
    padding: 40px 40px;
  }
}

.contacts__category {
  display: inline-block;
  background-color: $secondary-elements-bg-color;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: $secondary-text-color;
  text-transform: uppercase;
  padding: 0 24px;
  margin-bottom: 20px;

  @include tablet {
    font-size: 16px;
    line-height: 1.88;
    padding: 0 15px;
    margin-bottom: 32px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.foodtruck {
  background-color: $third-elements-bg-color;
}

.contacts__subgroup-location {
  border-bottom: 1px solid $pseudo-element-color;
  padding-bottom: 24px;

  @include tablet {
    padding-bottom: 32px;
  }
}

.foodtruck {
  background-color: $third-elements-bg-color;
}

.contacts__location {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $fifth-text-color;

  @include tablet {
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 12px;
  }

  @include desktop {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__subscribe {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $primary-text-color;

  @include tablet {
    font-size: 14px;
    line-height: 1.64;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__subgroup-work {
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__day {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $fifth-text-color;

  @include tablet {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $fourth-text-color;

  @include tablet {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.88;
  }
}

.extra-time {
  margin-bottom: 8px;

  @include tablet {
    margin-bottom: 12px;
  }
}

.contacts__contact-information {
  padding-top: 24px;
  border-top: 1px solid $pseudo-element-color;

  @include tablet {
    padding-top: 32px;
  }
}

.contacts__tel {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $primary-text-color;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $btn-dark-hover-color;
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__email {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $primary-text-color;
  transition: color $transition;

  &:hover,
  &:focus {
    color: $btn-dark-hover-color;
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__buttons-list {
  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  cursor: pointer;
  min-width: 162px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.contacts__button-location {
  color: $secondary-text-color;
  background-color: $btn-bg-dark-color;
  border: 1px solid $btn-bg-dark-color;
  border-radius: 22px;
  margin-bottom: 10px;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $btn-dark-hover-color;
  }

  @include tablet {
    min-width: 191px;
    margin-bottom: 0px;
    margin-right: 15px;
  }

  @include desktop {
    min-width: 198px;
  }
}

.contacts__button-icon-location {
  margin-left: 8px;
}

.contacts__button-franchise {
  color: $third-text-color;
  background-color: $btn-bg-light-color;
  border: 1px solid $btn-bg-light-color;
  border-radius: 22px;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $btn-light-hover-color;
  }

  @include tablet {
    min-width: 174px;
  }

  @include desktop {
    min-width: 180px;
  }
}

.contacts__button-icon-franchise {
  margin-left: 13px;
}
