.page-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $bg-secondary-color;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 8px;
  }
}

.footer__flex {
  margin-bottom: 40px;
  // padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
    // padding-top: 60px;
    // padding-bottom: 60px;
  }
}

.footer-label {
  @media screen and (max-width: 767.99px) {
    margin-bottom: 40px;
  }

  &__text {
    max-width: 232px;
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

    color: $fourth-text-color;

    @media screen and (min-width: 768px) {
      max-width: 340px;

      font-size: 26px;
      line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
      max-width: 472px;

      font-size: 30px;
      line-height: 1.13;
    }
  }
  &__accent {
    display: block;
    max-width: 200px;

    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;

    text-transform: uppercase;

    color: $third-text-color;

    @media screen and (min-width: 768px) {
      max-width: 340px;

      font-size: 48px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1280px) {
      max-width: 477px;

      font-size: 58px;
      line-height: 1.13;
    }
  }
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 40px;

  &__item + &__item {
    margin-left: 28px;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    fill: $social-icon-color;
    background-color: $social-icon-bg-color;

    transition: background-color $transition;

    &:hover,
    &:focus {
      background-color: $social-icon-hover-color;
    }

    @media screen and (min-width: 768px) {
      width: 34px;
      height: 34px;
    }
  }
}

.footer-contacts {
  &__text {
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;

    text-align: right;

    color: #000000;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__tel {
    color: $third-text-color;
    transition: color $transition;
    &:hover,
    &:focus {
      color: $social-icon-bg-color;
    }
  }
}

.rights-reserved {
  // margin-top: 16px;
  padding-top: 16px;
  // padding-bottom: 20px;

  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;

  color: $primary-text-color;
  border-top: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 8px;
    // padding-bottom: 8px;

    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;

    &__all {
      margin-left: 4px;
    }
  }
}
