.gallery-picture{
display: flex;
 max-width: 100%;
 align-items: center;
 justify-content: center;

}

.gallery{
    padding-top:40px; 
    background-image: linear-gradient($bg-secondary-color 55%,
            $bg-primary-color 40%);
    }
