.gallery-picture{
display: flex;
 max-width: 100%;
 align-items: center;
 justify-content: center;

}

.gallery{
    padding-top:40px; 
padding-bottom: 40px;

    background-image: linear-gradient($bg-secondary-color 44%,
            $bg-primary-color 40%);
    }
