// .container {
//     min-width: 320px;
//     max-width: 1170px;
//     padding: 8px 20px 0 20px;

//     margin-left: auto;
//     margin-right: auto;

//     @include tablet {
//         padding: 32px 32px 0 32px;
//     }

//     @include desktop {
//         padding: 40px 16px 0 16px;
//     }
// }
.header-container {

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;

  padding-top: 8px;
  padding-bottom: 8px;

  @include tablet {
    padding-top: 32px;
  }

  @include desktop {
    padding-top: 37px;
  }

  background-color: rgba(255, 184, 202, 0.7);
}

// .page-header .container {

//   position: fixed;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: 200;
//   display: flex;

//   padding-top: 8px;
//   padding-bottom: 8px;

//   @include tablet {
//     padding-top: 32px;
//   }

//   @include desktop {
//     padding-top: 37px;
//   }

//   background-color: rgba(255, 184, 202, 0.7);
// }



.header-logo {
  margin-right: auto;

  @include desktop {
    margin: 0;
  }
}

.icon-burger {
  fill: rgba(212, 20, 67, 1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  display: none;


  @include desktop {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu .link {
  @include max-desktop {
    display: none;
  }

  @include desktop {
    padding: 10px;
    color: $secondary-text-color;
    text-decoration: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .link--active {
  color: $third-text-color;
}

.menu .link:hover,
.menu .link:focus {
  color: $third-text-color;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @include desktop {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: $bg-modal-color;
  z-index: 250;

  //   transform: translateX(100%);
  transition: left 250ms ease-in-out;

  @media screen and (min-width: 560px) {
    width: 30vw;
  }
}

.menu-container.is-open {
  //   transform: translateX(0);
  left: 0;

  @media screen and (min-width: 560px) {
    left: 70%;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.button-header .mobile-menu-text {
  padding-right: 12px;
}

.button-header {
  display: none;

  @include tablet {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    align-items: center;
    text-align: center;

    background-color: #fff;
    color: $third-text-color;
    cursor: pointer;

    margin-left: 32px;
    border: none;
    outline: none;

    min-width: 160px;
    display: flex;
    justify-content: center;
    border-radius: 22px;
    padding: 15px 15px;

    &:hover,
    &:focus {
      background-color: $btn-light-hover-color;
    }
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}