.hero {
  background-color: $hero-primary-color;
  position: relative;
  overflow: hidden;
  padding-top: 194px;
  padding-bottom: 158px;
  @include tablet{
    padding-top: 102px;
  padding-bottom: 58px;
  }
  @include desktop{
    // padding-top: 147px;
    padding-top: 147px;
    padding-bottom: 84px;
  }
  
}
.hero__container{
  position: relative;
}


.hero__description-wraper {
  width: 218px; 
  position: relative;
  @include tablet{
     width: 162px;
     
   }

  @include desktop{
    width: 277px;
    // margin-top: 109px;
  }
}

.hero__title {
  margin-bottom: 20px;

  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  user-select: none;

  color: $secondary-text-color;

 @include tablet {
    font-size: 22px;
    line-height: 1.13;
  }
}


@include desktop {
  .hero__title {
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__title span {
  font-size: 48px;
  line-height: 0.96;
  color: $third-text-color;
  @include tablet {
    font-size: 34px;
    line-height: 0.9;
  }

@include desktop {
    font-size: 58px;
  }
}

.hero__btns {
  display: flex;
  align-items: center;
}

.hero__btn-item:not(:last-child) {
  margin-right: 8px;
}

.hero__btn-link {
  display: inline-flex;
  padding: 8px 12px;
  background-color: #fff;

  font-size: 8px;
  line-height: 1.25;
  color: $third-text-color;
  border-radius: 20px;

  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $btn-light-hover-color;
  }
}

@include desktop {
  .hero__btn-link {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 1.3;
  }
}
.hero__btn-link_accent {
  background-color: $btn-bg-dark-color;
  color: $btn-bg-light-color;

  background-color: $third-text-color;
  color: $secondary-text-color;

  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $slader-icon-color;
  }
}

.hero__img-center {
  position: absolute;
  bottom: -158px;
  right: 32px;
  // z-index: 1000;
  animation-name: appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

 @include tablet {
    width: 143px;
    height: 336px;
    right: 303px;
    bottom: -58px;
    
    animation-name: appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition: $transition;

    &:hover,
    &:focus {
       transform: scale(1.01);
    }
  }

    @include desktop {
    right: 408px;
    bottom: -84px;
    width: 236px;
    height: 557px;
  }

}

.hero__ellipse {
  position: absolute;
  right: -55px;
  bottom: -83px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  // z-index: 999;
  background-color: $hero-secondary-color;

@include tablet {
    animation-name: scale;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 324px;
      height: 322px;
      right: 185px;
      bottom: -18px;
  }
    @include desktop{
    width: 538px;
    height: 538px;
    right: 213px;
    bottom: -7px;
    }
}

.hero__img-left {
  position: absolute;
  bottom: -42px;
  left: 34px;
  display: block;
  animation-name: goright;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  z-index: 2;
  transition: $transition;
   @include desktop{
     bottom: -24px;
     left: 16px;
   }
   &:hover{
     transform: scale(1.02);
   }
  
}
.hero-left-wraper {
  display: flex;
}
.btn-pointer {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  transition: all $transition;
  background-color: #fff;
  &:hover,
  &:focus{
    background-color: $btn-light-hover-color;
  //  animation: rotate360 500ms ease;
  transform: rotate(90deg);
  }
@include desktop {
    width: 24px;
    height: 24px;
  }
}

.hero__btn-icon {
  fill: #d41443;
  transform: translate(-2px, -1px);
  @media screen and (min-width: 1280px) {
      transform: translate(0px, 0px);
    }
}

.hero__img-right {
  position: absolute;
  bottom: -58px;
  right: 32px;
  animation-name: goup;
  // z-index: 1002;

  animation-duration: 1s;
  animation-timing-function: ease-in;

  // ----------анімацію.!?
  transition: $transition;
  &:hover {
    transform: scale(1.03);
  }
  @include desktop {
    bottom: -84px;
    right: 16px;
  }
  }

.hero__text {
    margin-bottom: 7px;
  font-size: 8px;
  line-height: 1.5;
  color: #fff;

  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;

@include tablet {
    width: 114px;
    margin-bottom: 5px;
  }
}

@include desktop {
  .hero__text {
    width: 200px;
    margin-bottom: 19px;
     margin-left: 0;

    font-size: 14px;
    line-height: 1.4;
  }
}

@include tablet {
  .hero__description-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@include tablet {
  .hero__text-wrapper {
    width: 200px;
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
  }
}
@include desktop {
  .hero__text-wrapper {
    width: 200px;
    margin-top: 109px;
     margin-left: 213px;
  }
}

@include desktop {
  .hero__description-wrapper {
    width: 349px;
  }
}

@media screen and (max-width: 767px) {
  .hero__text-wrapper {
    display: none;
  }

  .hero__stat-list {
    display: none;
  }

  .hero__img-left {
    display: none;
  }

  .hero__img-right {
    display: none;
  }
}
.hero__stat-list {
  position: absolute;
  // top: 96px;
  right: 32px;
  bottom: 163px;
  @include desktop{
    
      right: 16px;
      bottom: 259px;
  }
}

.hero__stat-list-item {
  position: relative;
  transition: $transition;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.hero__stat-list-item:not(:last-child) {
  margin-bottom: 13px;
}

.hero__stat-list-item::before {
  position: absolute;
  top: 0;
  right: -10px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 0;
}

@include desktop {
  .hero__stat-list-item::before {
    width: 30px;
    height: 30px;
  }
}

.hero__stat-list-accent-text {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  color: #d41443;
  position: relative;
  z-index: 2;

}

.hero__stat-list-text {
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #fff;
}

@include desktop {
  .hero__stat-list-accent-text {
    font-size: 46px;
  }

  .hero__stat-list-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.25);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes goup {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes goright {
  0% {
    transform: translatex(-100%) scale(0.5);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes rotate360 {
  25% {
    transform: rotate(90deg);
  }
  50% {
  transform: rotate(180deg);
}
75% {
  transform: rotate(270deg);
}
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate5 {
 
  25% {
    transform: rotate(2deg);
  }
  
  75% {
    transform: rotate(-2deg);
  }
}