.hero {
    background-color: #ffb8ca;
    position: relative;
    overflow-x: hidden;
}

.hero__container {
    padding-top: 193px;
    padding-bottom: 160px;
    position: relative;
    overflow-x: visible;
@media screen and (min-width: 768px) {
        // .hero__container {
            padding-top: 102px;
            padding-bottom: 34px;
            overflow: hidden;
        }
    

@media screen and (min-width: 1280px) {
        // .hero__container {
            padding-top: 175px;
            padding-bottom: 55px;
        }

}


.hero__description-wraper {
    width: 200px;
    position: relative;
    z-index: 2;
}

.hero__title {
    margin-bottom: 20px;

    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #fff;

    @media screen and (min-width: 768px) {
        font-size: 22px;
    }
}

@media screen and (min-width: 1280px) {
    .hero__title {
        margin-bottom: 25px;
        font-size: 38px;
        line-height: 1.16;
    }
}

.hero__title span {
    font-size: 48px;
    line-height: 0.96;
    color: $third-text-color;
    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 0.9;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
    }
}


.hero__btns {
    display: flex;
    align-items: center;
}

.hero__btn-item:not(:last-child) {
    margin-right: 8px;
}

.hero__btn-link {
    display: inline-flex;
    padding: 8px 14px;
    background-color: #fff;

    font-size: 8px;
    line-height: 1.25;
    color: $third-text-color;
    border-radius: 20px;

    transition: background-color 250ms ease-in;

    &:hover,
    &:focus {
        background-color: $btn-light-hover-color;
    }
}

.hero__btn-link_accent {
    background-color: $btn-bg-dark-color;
    color: $btn-bg-light-color;

    background-color: $third-text-color;
    color: $secondary-text-color;

    transition: background-color 300ms ease-in;

    &:hover,
    &:focus {
        background-color: $slader-icon-color;
    }
}

.hero__img-center {
    position: absolute;
        top: 107px;
        right: 32px;
    
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            top: 20px;
        }
    
        @media screen and (min-width: 768px) {
            width: 143px;
            height: 336px;
            right: 247px;
            top: 65px;
    
            animation-name: appearance;
            animation-duration: 3s;
            animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                transform: scale(1.1);
            }
        }
    
        @media screen and (min-width: 1280px) {
            right: 450px;
            top: 112px;
            width: 236px;
            height: 557px;
        }
    }


.hero__ellipse {
    position: absolute;
    top: 83px;
    right: -55px;

    width: 346px;
    height: 344px;

    border-radius: 50%;
    background-color: $hero-secondary-color;

    @media screen and (min-width: 768px) {
        animation-name: scale;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 768px) {
    .hero__ellipse {
        width: 324px;
        height: 322px;
        top: 31px;
        right: 137px;
    }
}

@media screen and (min-width: 1280px) {
    .hero__ellipse {
        width: 538px;
        height: 538px;
        top: 52px;
        left: 485px;
    }
}

.hero__img-left {
    position: absolute;
    bottom: 28px;
    left: 34px;
display: block;
// width: 154px;
// height: 152px;
    // ----------анімацію.!?
}
.hero-left-wraper{
    display: flex;
}
.btn-pointer{
   display: inline-block;
width: 18px;
height: 18px;
border-radius: 50%;
border: none;
@media screen and (min-width: 1280px) {
    width: 24px;
        height: 24px;
}
}
.hero__btn-icon{
    fill: #d41443;
}
@media screen and (min-width: 1280px) {
    .hero__img-left {
        left: 16px;
        bottom: 35px;
    }

}
.hero__img-right {
    position: absolute;
    bottom: 0;
    right: 34px;

    // ----------анімацію.!?
    transition: transform 250ms ease-in;

    // &:hover,
    // &:focus {
    //     transform: scale(1.1);
    // }
}

.hero__text {
    margin-top: 50px;
    margin-bottom: 7px;
    font-size: 8px;
    line-height: 1.5;
    color: #fff;


    font-family: "DM Sans", sans-serif;
    letter-spacing: .04em;

    @media screen and (min-width: 768px) {
        width: 120px;
        // margin-left: 32px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .hero__text {
        width: 170px;
        margin-bottom: 10px;
        margin-top: 112px;
        margin-left: 0;

        font-size: 11px;
        line-height: 1.4;
    }
}

@media screen and (min-width: 768px) {
    .hero__description-wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .hero__text-wrapper {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-left: 200px;
    }
}

@media screen and (min-width: 1280px) {
    .hero__description-wrapper {
        width: 349px;
    }
}

@media screen and (min-width: 1280px) {
    .hero__img-right {
        right: 109px;
    }
}

@media screen and (max-width: 767px) {
    .hero__text-wrapper {
        display: none;
    }

    .hero__stat-list {
        display: none;
    }

    .hero__img-left {
        display: none;
    }

    .hero__img-right {
        display: none;
    }
}
.hero__stat-list {
    position: absolute;
    top: 96px;
    right: 44px;
}

@media screen and (min-width: 1280px) {
    .hero__stat-list {
        top: 156px;
        right: 115px;
    }
}
.hero__stat-list-item {
    position: relative;
}

.hero__stat-list-item:not(:last-child) {
    margin-bottom: 13px;
}

.hero__stat-list-item::before {
    position: absolute;
    top: 0;
    right: -10px;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 0;
}

@media screen and (min-width: 1280px) {
    .hero__stat-list-item::before {
        width: 30px;
        height: 30px;
    }
}

.hero__stat-list-accent-text {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
    color: #d41443;
    position: relative;
    z-index: 2;

//     &:hover,
//     &:focus {
// // ---------------------------------АНІМАЦІЯ
//     }
}

.hero__stat-list-text {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #fff;
}

@media screen and (min-width: 1280px) {
    .hero__stat-list-accent-text {
        font-size: 46px;
    }

    .hero__stat-list-text {
        font-size: 14px;
        line-height: 1.29;
    }
}