.products{
    padding-top: 80px;
    padding-bottom: 40px;
    width: 100vw;
    overflow: hidden;

    &__container{
        @media screen and (min-width: 480px) {
            width: 480px;
            width: 100%;
            overflow: hidden;
        }
    }

    &__label{
        margin-bottom: 15px;

        font-family: 'Titan One';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.16;
        text-align: center;
        text-transform: uppercase;

        color: $fourth-text-color;

    }

    &__title{
        margin-bottom: 30px;

        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.15;
        text-align: center;
        //letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: $third-text-color;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -20px -25px;
    }

    &__item{
        max-width: 280px;
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 20px;

        
    }

    
}

.products-card{
    position: relative;
    //height: 280px;
    margin-top: 113px;
    

    &::before{
        position: absolute;
        top: 0;
        left: 50%;
        content: "";
        display: block;
        width: 100%;
        height: 280px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 250px 250px;
            
        
        
        transform: translate(-50%, -50%);
           
    }

    &--ice-cream::before{
        background-image: url(/src/images/ice-cream_products/home-pic2-mob1x.png);
        
            @media screen and (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/ice-cream_products/home-pic2-mob2x.png);
            }
        
            @media screen and (min-device-pixel-ratio: 3),
            (-webkit-min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
                background-image: url(/src/images/ice-cream_products/home-pic2-mob3x.png);
            }
    }

    &--ice-coffee::before{
        background-image: url(/src/images/ice-cream_products/home-pic3-mob1x.png);

        @media screen and (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/ice-cream_products/home-pic3-mob2x.png);
            }
        
            @media screen and (min-device-pixel-ratio: 3),
            (-webkit-min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
                background-image: url(/src/images/ice-cream_products/home-pic3-mob3x.png);
            }
    }

        &--milkshakes::before {
            background-image: url(/src/images/ice-cream_products/home-pic1-mob1x.png);
    
            @media screen and (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/src/images/ice-cream_products/home-pic1-mob2x.png);
            }
    
            @media screen and (min-device-pixel-ratio: 3),
            (-webkit-min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
                background-image: url(/src/images/ice-cream_products/home-pic1-mob3x.png);
            }
        }


    &__wraper{
        //background-color: $background-primary-color;
        text-align: center;
        border-radius: 24px;
        max-height: 489px;
      
    }

    &__wraper--ice-cream {
        background-color: $primary-elements-bg-color;
    }

    &__wraper--ice-coffee {
        background-color: $secondary-elements-bg-color;
    }

    &__wraper--milkshakes {
        background-color: $third-elements-bg-color;
    }




    &__title{
        position:relative;

        margin-bottom: 70px;
        padding-top: 161px;

        font-family: 'Titan One';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: $secondary-text-color;
    }

    &__title::after{
        content: "";
            display: inline-block;
            position: absolute;
            width: 26px;
            height: 6px;
            background-image: url(/src/images/Group_of_points.svg);
            background-size: 26px 6px;
            bottom: -30px;
            left: 45%;
    }

    &__text{
       // overflow: hidden;
        margin-bottom: 32px;
            padding: 0 39px 0 41px;
            max-width: 100%;
           // height: 124px;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
    
        color: $secondary-text-color;
    }

        
}

.products-btn{
   // position: relative;
    display: inline-block;
    margin-bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent ;
    outline: none;
    cursor: pointer;
    background-color: $btn-bg-light-color;
    text-align: center;
    
    transition: color $transition;
    
    transition: background-color $transition;

    &:hover,
    &:focus{
        background-color: $social-icon-hover-color;
    }
    
    &__icon{
        fill:$social-icon-hover-color;
        transform: rotate(0deg);
        transition: transform $transition;
        transition: fill $transition;

        .products-btn:hover &,
        .products-btn:focus &{
            fill: $social-icon-color;
            transform: rotate(90deg);
        }
    }

    

}
